name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [stable, nightly]

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: fmt
        run: cargo fmt --all --check

      - name: clippy
        run: cargo clippy --workspace --all-targets -- -D warnings

      - name: test
        run: cargo test --workspace